<app-ad-navbar></app-ad-navbar>
<section class="my-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="admin/home">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Manage Page Settings</li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8">
                <form>
                    <h2>About Us</h2>
                    <div class="mb-3">
                        <label for="name" class="form-label fw-bold">Edit About Us</label>
                        
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                    </div>

                    <h2 class="mt-5"> Terms of use</h2>
                    <div class="mb-3">
                        <label for="name" class="form-label fw-bold">Edit Terms of use</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                    </div>

                    <h2 class="mt-5"> Privacy Policy</h2>
                    <div class="mb-3">
                        <label for="name" class="form-label fw-bold">Edit Privacy Policy</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Update</button>
                </form>
            </div>
        </div>
    </div>
</section>