<app-ad-navbar></app-ad-navbar>
<section class="my-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a routerLink="admin/home">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Manage Page Settings</li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8">
                <form (ngSubmit)="updatePageSettings()">
                    <h2>About Us</h2>
                    <div class="mb-3">
                        <label for="aboutUs" class="form-label fw-bold">Edit About Us</label>
                        <textarea
                            [(ngModel)]="pageSettings.aboutUs"
                            name="aboutUs"
                            class="form-control"
                            id="aboutUs"
                            rows="3"
                            required>
                        </textarea>
                    </div>

                    <h2 class="mt-5">Terms of Use</h2>
                    <div class="mb-3">
                        <label for="termsOfUse" class="form-label fw-bold">Edit Terms of Use</label>
                        <textarea
                            [(ngModel)]="pageSettings.termsOfUse"
                            name="termsOfUse"
                            class="form-control"
                            id="termsOfUse"
                            rows="3"
                            required>
                        </textarea>
                    </div>

                    <h2 class="mt-5">Privacy Policy</h2>
                    <div class="mb-3">
                        <label for="privacyPolicy" class="form-label fw-bold">Edit Privacy Policy</label>
                        <textarea
                            [(ngModel)]="pageSettings.privacyPolicy"
                            name="privacyPolicy"
                            class="form-control"
                            id="privacyPolicy"
                            rows="3"
                            required>
                        </textarea>
                    </div>
                    
                    <!-- Disable button until all fields are filled -->
                    <button
                        type="submit"
                        class="btn btn-primary"
                        [disabled]="!allFieldsFilled()">
                        Update
                    </button>
                </form>
            </div>
        </div>
    </div>
</section>
