<app-navbar></app-navbar>
<section class="my-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">
              Integrate Website
            </li>
          </ol>
        </nav>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <h2>Add BotAI to your website</h2>
      </div>
    </div>
    <div class="row">
        <div class="col-lg-12 mt-3">
          <div class="alert alert-light" role="alert">
            <p>Add the below script tag to your website, inside the <code>&lt;body&gt;&lt;/body&gt;</code> tag. Once you add this, BotAI will be added to your website.</p>
            <code>&lt;script src="https://chatgptbotai.netlify.app/integrate/web/1c9d899c-5735-4781-a663-a98d301c1ac4"&gt;&lt;/script&gt;</code>
          </div>
        </div>
      </div>
      
  </div>
</section>
