<app-ad-navbar></app-ad-navbar>
<section class="my-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="admin/home">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Add User</li>
          </ol>
        </nav>
      </div>
    </div>
    <div class="row g-5">
      <div class="col-lg-6">
        <form (ngSubmit)="addUser()">
          <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="name" name="name" [(ngModel)]="userData.name" required />
          </div>
          <div class="mb-3">
            <label for="phone" class="form-label">Phone Number</label>
            <input type="text" class="form-control" id="phone" name="phone" [(ngModel)]="userData.phoneNumber" required />
          </div>
          <div class="mb-3">
            <label for="email" class="form-label">Email address</label>
            <input type="email" class="form-control" id="email" name="email" [(ngModel)]="userData.emailAddress" required />
          </div>
          <div class="mb-3">
            <label for="appName" class="form-label">App Name</label>
            <input type="text" class="form-control" id="appName" name="appName" [(ngModel)]="userData.appName" required />
          </div>
          <div class="mb-3">
            <label for="appLogo" class="form-label">App Logo</label>
            <input type="text" class="form-control" id="appLogo" name="appLogo" [(ngModel)]="userData.appLogo" required />
          </div>

          <p class="fw-bold pt-3">Add Chat GPT Assistant</p>
          <div class="mb-3">
            <label for="assistantName" class="form-label">Assistant Name</label>
            <input type="text" class="form-control" id="assistantName" name="assistantName" [(ngModel)]="userData.assistantName" required />
          </div>
          <div class="mb-3">
            <label for="assistantId" class="form-label">Assistant Id</label>
            <input type="text" class="form-control" id="assistantId" name="assistantId" [(ngModel)]="userData.assistantId" required />
          </div>

          <button type="submit" class="btn btn-primary" [disabled]="!isFormValid()">Add</button>

        </form>
      </div>
    </div>
  </div>
</section>
