<div class="row vh-90 justify-content-center align-items-center text-center" id="firstrow" *ngIf="showFirstRow"> 
  <div class="col-lg-8">
    <div>

      <h2>Hello {{ this.user.name }},</h2>
    </div>
    <h2>What can I help with?</h2>

    <div class="card-footer d-flex mt-4" id="chat-bar">
      <div class="input-group">
        <textarea
          id="auto-textarea"
          placeholder="Type your message..."
          class="form-control type_msg"
          [(ngModel)]="userMessage"
          (input)="autoResizeTextArea($event)"
        ></textarea>
      </div>
      <button class="btn btn-danger" (click)="sendMessage()" [disabled]="!userMessage"><i class="fa fa-arrow-up" aria-hidden="true"></i></button>
    </div>
  </div>
</div>

<div class="row" id="secondrow" *ngIf="!showFirstRow"> 
  <div class="col-lg-12 chat">
    <div class="card">
      <div class="card-body msg_card_body" #scrollContainer>
        <ul class="messages">
          <!-- Static message from bot to greet the user -->
          <div class="d-flex justify-content-start mb-4">
            <div class="img_cont_msg">
              <img src="{{this.basicinfo.websiteMainLogoPath}}" class="rounded-circle user_img_msg">
            </div>
            <div class="msg_cotainer_send" id="bot-msg">
              Hi, {{user?.name}}. How can I assist you today?
            </div>
          </div>

          <!-- Display chat messages -->
          <li *ngFor="let message of chatMessages" [class]="message.role + ' message'">
            <div *ngIf="message.role === 'user'; else elseBlock">
              <div class="d-flex justify-content-end mb-4">
                <div class="msg_cotainer">
                  <div [innerHTML]="message.content" ></div>
                </div>
              </div>
            </div>

            <ng-template #elseBlock>
              <div *ngIf="message.content === '...'; else elseBlockBotLoading">
                <div class="d-flex justify-content-start mb-4">
                  <div class="img_cont_msg">
                    <img src="{{this.basicinfo.websiteMainLogoPath}}" class="rounded-circle user_img_msg">
                  </div>
                  <div class="msg_cotainer_send" id="bot-msg">
                    <div class="loader"> 
                      <span></span> 
                      <span></span> 
                      <span></span>
                    </div> 
                  </div>
                </div>
              </div>
            </ng-template>

            <ng-template #elseBlockBotLoading>
              <div class="d-flex justify-content-start mb-4">
                <div class="img_cont_msg">
                  <img src="{{this.basicinfo.websiteMainLogoPath}}" class="rounded-circle user_img_msg">
                </div>
                <div class="msg_cotainer_send" id="bot-msg" >
                  <div [innerHTML]="message.content"></div>
                </div>
              </div>
            </ng-template>
          </li>
        </ul>
      </div>
      <div *ngIf="!isTextareaDisabled">
        <div class="card-footer">
          <div class="input-group">
            <textarea name="" class="form-control type_msg" placeholder="Type your message..." [(ngModel)]="userMessage"
              (keyup.enter)="sendMessage()" [disabled]="isTextareaDisabled"></textarea>
            <button class="btn btn-danger" (click)="sendMessage()" [disabled]="!userMessage">Ask</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
