<app-ad-navbar></app-ad-navbar>
<section>
    <div class="container">
      <div class="row g-2 my-2">
        <div class="col-lg-3">
          <div class="card">
            <div class="card-body">
              <p class="card-title">Total Owners</p>
              <h2 class="card-title">{{ totalOwners }}</h2>  <!-- Display total users (owners + non-owners) -->
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="card">
            <div class="card-body">
              <p class="card-title">Total Organizations Members</p>
              <h2 class="card-title">{{totalNonOwners}}</h2> 
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="card">
            <div class="card-body">
              <p class="card-title">Total Organizations</p>
              <h2 class="card-title">{{ totalOrganizations }}</h2>  <!-- Bind totalOrganizations -->
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="card">
            <div class="card-body">
              <p class="card-title">Current GPT Model</p>
              <h2 class="card-title">{{ currentGptModel }}</h2>  <!-- Bind currentGptModel -->
            </div>
          </div>
        </div>
      </div>
      <div class="row my-4">
        <hr>
        <label for="startDate">Filter Useage by Start & End Date</label>
        <div class="col-lg-4 d-flex">
          <input id="startDate" type="date" [(ngModel)]="startDate" class="form-control me-2" />
          <input id="endDate" type="date" [(ngModel)]="endDate" class="form-control" />
        </div>
        <div class="col-lg-4">
          <button (click)="onFetchData()" class="btn btn-primary mt-4">
            Fetch Usage Stats
          </button>
        </div>
      </div>
      <div class="row my-4">
        <div class="col-lg-12">
          <h5 class="fw-bold">{{this.formattedStartDate}} - {{this.formattedEndDate}} Usage History</h5>
          <div class="card">
            <div class="card-body">
              <canvas id="barChart"></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>