<app-ad-navbar></app-ad-navbar>
<section class="mt-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="admin/home">Home</a></li>
                  <li class="breadcrumb-item active" aria-current="page">
                    Useage Stats
                  </li>
                </ol>
              </nav>
            </div>
          </div>
        <div class="row">
          <div class="col-lg-3">
            <div class="card">
                <div class="card-body">
                  <h2>Total Requests</h2>
                  <p class="card-title">All so far</p>
                  <h2 class="card-title">1300</h2>
                </div>
              </div>
        </div>
          <div class="col-lg-3">
            <div class="card">
                <div class="card-body">
                  <h2>Total Requests</h2>
                  <p class="card-title">October 2024 (this month)</p>
                  <h2 class="card-title">200</h2>
                </div>
              </div>
        </div>
        </div>
    </div>
</section>