<app-ad-navbar></app-ad-navbar>

<section class="my-5">
    <div class="container">
        <div class="row">
          <div class="col-lg-12 pb-3">
            <nav aria-label="breadcrumb">
                <div class="d-flex justify-content-between align-items-center">
                    <ol class="breadcrumb mb-0">
                        <li class="breadcrumb-item"><a href="admin/home">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Manage Users</li>
                    </ol>
                    <a class="btn btn-primary" type="button" href="admin/user/add">Add User</a>
                </div>
            </nav>
        </div>
            <div class="col-lg-12" id="users">
                <div class="card">
                    <div class="card-body">
                        <table class="table">
                            <thead>
                              <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Email</th>
                                <th scope="col">Organization</th>
                                <th scope="col">Created</th>
                                <th scope="col">Action</th>
                              </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let person of people">
                                    <th scope="row">{{ person.name }}</th>
                                    <td>{{ person.email }}</td>
                                    <td>{{ person.organization }}</td>
                                    <td>{{ person.date }}</td>
                                    <td>
                                      <a
                                        class="btn btn-primary dropdown-toggle me-2"
                                        href="#"
                                        role="button"
                                        data-bs-toggle="dropdown"
                                        aria-expanded="false"
                                      ></a>
                                      <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="admin/user/edit">Edit User Profile</a></li>
                                        <li><a class="dropdown-item" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">Set Chat GPT Assistant</a></li>
                                        <li><a class="dropdown-item" href="admin/user/useage-stats">Usage Stats</a></li>
                                      </ul>
                                      <button type="button" class="btn btn-danger">
                                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                                      </button>
                                    </td>
                                  </tr>
                            </tbody>
                          </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Set Chat GPT Assistant (Lotus)</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Assistant Name:</label>
            <input type="text" class="form-control" id="recipient-name">
          </div>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Assistant Id:</label>
            <input type="text" class="form-control" id="recipient-name">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>