<app-ad-navbar></app-ad-navbar>
<section class="my-5">
    <div class="container">
       <div class="row">
        <div class="col-lg-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="admin/home">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Edit User</li>
                </ol>
            </nav>
        </div>
       </div>
        <div class="row g-5">
            <div class="col-lg-6">
                <form>
                    <div class="mb-3">
                        <label for="name" class="form-label">Name</label>
                        <input type="text" class="form-control" id="name" name="name" />
                    </div>
                    <div class="mb-3">
                        <label for="phone" class="form-label">Phone Number</label>
                        <input type="text" class="form-control" id="phone" name="phone" />
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail1"
                            name="email"  />
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Edit Organization Name</label>
                        <input type="email" class="form-control" id="exampleInputEmail1"
                            name="email"  />
                    </div>
                    <button type="submit" class="btn btn-primary">Update</button>
                </form>
            </div>
            <div class="col-lg-4">
                <p class="fw-bold">Organizations Member:</p>
                <ol class="list-group mt-2">
                    <li class="list-group-item d-flex justify-content-between align-items-center">Anuj Kumar

                        <span class="badge text-bg-danger rounded-pill"><i class="fa fa-trash-o" aria-hidden="true"></i></span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">Peter Parkar

                        <span class="badge text-bg-danger rounded-pill"><i class="fa fa-trash-o" aria-hidden="true"></i></span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">Andrew Dixon
                        <span class="badge text-bg-danger rounded-pill"><i class="fa fa-trash-o" aria-hidden="true"></i></span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">Stephen Max
                        <span class="badge text-bg-danger rounded-pill"><i class="fa fa-trash-o" aria-hidden="true"></i></span>
                    </li>
                  </ol>
            </div>
        </div>
        
    </div>
</section>