<div class="container">
    <div class="row">
        <div class="col-lg-12 d-flex justify-content-center align-items-center text-center vh-100">
         <div>
            <img src="https://img.freepik.com/free-vector/401-error-unauthorized-concept-illustration_114360-1922.jpg" width="50%" alt="">
            <h5>You have to be added or invited by the admin.</h5>
            <p>You are trying to access a website, which you don't have access. Contact admin.</p>
            <a href="mailto:{{basicinfo.companyEmail}}">{{basicinfo.companyEmail}}</a>
         </div>
        </div>
    </div>
</div>