<header class="navbar-light bg-white sticky-top p-2 border-bottom" >
    <div class="container-fluid">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/admin/home" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none logo"><img
                    src="{{basicinfo.websiteFaviconPath}}" width="50px"
                    alt="" /></a>

            <ul class="nav col-12 col-lg-auto ms-lg-auto mb-2 justify-content-center mb-md-0 me-md-4">
                <li>
                    <a href="admin/home" class="nav-link px-2 link-dark">Dashboard</a>
                </li>
                <li>
                    <a href="admin/users" class="nav-link px-2 link-dark">Users</a>
                </li>
                <li>
                    <a href="admin/settings" class="nav-link px-2 link-dark">Settings</a>
                </li>
                  <li>
                    <a href="admin/page/settings" class="nav-link px-2 link-dark">Page Settings</a>
                  </li>
            </ul>
            <div class="dropdown text-end">
                <a href="#" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false"
                    class="d-block link-dark text-decoration-none dropdown-toggle"><img alt="mdo" width="42" height="42"
                        class="rounded-circle" src="https://cdn-icons-png.flaticon.com/512/512/512219.png" /></a>
                <ul aria-labelledby="dropdownUser1" class="dropdown-menu text-small" style="">
                    <li>
                       <span class="dropdown-item">Welcome : Admin</span> 
                    </li>
                    <li>
                        <hr class="dropdown-divider" />
                    </li>
                    <li>
                        <a class="dropdown-item" href="#" (click)="signOut()">
                            <i aria-hidden="true" class="fa fa-sign-out"></i> Sign Out
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>