<app-navbar></app-navbar>
<section class="mt-5">
  <div class="container">
    <div class="row g-2">
      <!-- Current Year -->
      <div class="col-lg-3">
        <div class="card">
          <div class="card-body bg-dark text-white">
            <h2>Total Requests</h2>
            <p class="card-title">Current Year ({{ currentYear }})</p>
            <h2 class="card-title">{{ totalRequestsCurrentYear }}</h2>
          </div>
        </div>
      </div>

      <!-- Last Year -->
      <div class="col-lg-3">
        <div class="card">
          <div class="card-body bg-light">
            <h2>Total Requests</h2>
            <p class="card-title">Last Year ({{ lastYear }})</p>
            <h2 class="card-title">{{ totalRequestsLastYear }}</h2>
          </div>
        </div>
      </div>

      <!-- Current Month -->
      <div class="col-lg-3">
        <div class="card">
          <div class="card-body bg-dark text-white">
            <h2>Total Requests</h2>
            
            <p class="card-title">{{ currentMonthName }} <span style="font-size: 10px;">(current month)</span></p>
            <h2 class="card-title">{{ totalRequestsCurrentMonth }}</h2>
          </div>
        </div>
      </div>

      <!-- Last Month -->
      <div class="col-lg-3">
        <div class="card">
          <div class="card-body bg-light">
            <h2>Total Requests</h2>
            <p class="card-title">{{ lastMonthName }} <span style="font-size: 10px;">(last month)</span></p>
            <h2 class="card-title">{{ totalRequestsLastMonth }}</h2>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="userStatsData != null && usageStatsData != null">
      <div class="row my-4">
        <hr />
        <label for="startDate">Filter Useage by Start & End Date</label>
        <div class="col-lg-4 d-flex">
          <input id="startDate" type="date" [(ngModel)]="startDate" class="form-control me-2" />
          <input id="endDate" type="date" [(ngModel)]="endDate" class="form-control" />
        </div>
        <div class="col-lg-4">
          <button (click)="onFetchData()" class="btn btn-primary mt-4">
            Fetch Usage Stats
          </button>
        </div>
      </div>

      <div class="row my-4">
        <div class="col-lg-12" *ngIf="userStatsData != null">
          <h5 class="fw-bold">
            {{ this.formattedStartDate }} - {{ this.formattedEndDate }} Usage
            History
          </h5>
          <div class="card">
            <div class="card-body">
              <canvas id="barChart"></canvas>
            </div>
          </div>
        </div>
        <div class="col-lg-12 mt-5" *ngIf="usageStatsData != null">
          <h5 class="fw-bold">
            {{ this.formattedStartDate }} -
            {{ this.formattedEndDate }} Organization Member History
          </h5>
          <div class="card">
            <div class="card-body">
              <canvas id="orgBarChart"></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="container">
    <div class="row">
      <div class="col-12 ">
        <hr/>
        <a href="" class="btn btn-primary">Start first conversation</a>
      </div>
    </div>
  </div>
</section>