<app-navbar></app-navbar>

<section>
    <div class="container">
        <div class="row my-4">
          <div class="col-lg-6">
            <h5 class="fw-bold">2024 Useage History</h5>
            <div class="card">
              <div class="card-body">
                <canvas id="barChart"></canvas>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <h5 class="fw-bold">Members API Requests <small style="font-size: 10px;">(this month)</small></h5>
            <div class="card">
              <div class="card-body">
                <canvas id="userBarChart"></canvas>
              </div>
            </div>
          </div>
        </div>
        <div class="row g-2 my-2">
            <div class="col-lg-3">
                <div class="card">
                    <div class="card-body">
                      <p class="card-title">Total Memeber</p>
                      <h2 class="card-title">3</h2>
                    </div>
                  </div>
            </div>
            <div class="col-lg-3">
                <div class="card">
                    <div class="card-body">
                      <p class="card-title">Total API Requests</p>
                      <h2 class="card-title">400</h2>
                    </div>
                  </div>
            </div>
            <div class="col-lg-3">
                <div class="card">
                    <div class="card-body">
                      <p class="card-title">API Requests <small>(this month)</small></p>
                      <h2 class="card-title">200</h2>
                    </div>
                  </div>
            </div>
            <div class="col-lg-3">
                <div class="card">
                    <div class="card-body">
                      <p class="card-title">Start new chat</p>
                      <a href="" class="btn btn-primary mb-2">Get Started</a>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</section>