<app-mis-navbar></app-mis-navbar>

<section class="aboutus my-5">
  <div class="container">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-lg-12 col-md-12 col-12">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">About Us</li>
          </ol>
        </nav>
        <div>
          <p *ngIf="aboutUsContent; else noContent" [innerHTML]="aboutUsContent"></p>
          <ng-template #noContent>
            <p>No About Us content available at the moment.</p>
          </ng-template>
        </div>

        <div>
          <hr>
          <p><span class="fw-bold">Company Address :</span> {{basicinfo.companyAddress}} </p>
          <p><span class="fw-bold">Company Email :</span> {{basicinfo.companyEmail}} </p>
          <p><span class="fw-bold">Company Phone :</span> {{basicinfo.companyPhone}}</p>
        </div>
      </div>
    </div>
  </div>
</section>
