<app-navbar></app-navbar>

<section class="my-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">
              Help
            </li>
          </ol>
        </nav>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <h2>Raise a support ticket</h2>
        <p>
          Contact +91 8250366763 or write to us by sumitting the below form, we will get in touch with you shortly.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8">
        <form>
            <div class="mb-3">
                <label for="name" class="form-label fw-bold">Subject</label>
                <input type="text" class="form-control" id="name" name="name" />
            </div>
          <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label fw-bold"
              >Description</label
            >
            <textarea
              class="form-control"
              id="exampleFormControlTextarea1"
              rows="3"
            ></textarea>
          </div>
          <button type="submit" class="btn btn-primary">Send</button>
        </form>
      </div>
    </div>
  </div>
</section>
