/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import "https://cdn.jsdelivr.net/npm/suneditor@latest/dist/css/suneditor.min.css"; 

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, li, button{
    font-family: "Afacad Flux", sans-serif;
    font-size: 1.2rem;
}
h1,h2,h3,h4,h5{
    font-family: "Merriweather", serif;
  
}
.vh-90 {
    height: 90vh;
}


/* For Chrome, Edge, and Safari */
::-webkit-scrollbar {
    width: 3px; /* Adjust the width as needed */
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f125; /* Light background for the track */
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #f1f1f125; /* Lighter color for the scrollbar thumb */
    border-radius: 10px; /* Rounded corners */
    border: 2px solid #f1f1f125; /* Border to give a gap effect */
  }
  
  /* For Firefox */
  * {
    scrollbar-width: thin; /* Makes the scrollbar thinner */
    scrollbar-color: #f1f1f125 #f1f1f125; /* Thumb color and track color */
  }
  