<app-mis-navbar></app-mis-navbar>

<section class="terms-of-use my-5">
  <div class="container">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-lg-12 col-md-12 col-12">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Terms of Use</li>
          </ol>
        </nav>
        <div>
          <p *ngIf="termsOfUseContent; else noContent" [innerHTML]="termsOfUseContent"></p>
          <ng-template #noContent>
            <p>No Terms of Use content available at the moment.</p>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</section>
