<app-navbar></app-navbar>

<section class="my-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-5">
                <div class="row">
                    <div class="col-lg-12">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">
                                   Manage Workspace
                                </li>
                            </ol>
                        </nav>

                        <h2>Setup your organization</h2>
                        <p>
                            Create organization and invite people via email to work together.
                        </p>

                        <form>
                            <div class="mb-3">
                                <label for="exampleInputEmail1" class="form-label">Email address</label>
                                <input type="email" class="form-control" id="exampleInputEmail1"
                                    name="email" />
                            </div>
                            <button type="submit" class="btn btn-primary">Send an invitation</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-7">
              <div class="card">
                <div class="card-body">
                    <h2>Organization Name : BotAI</h2>
                    <p>Below are the invited people to your organization</p>
                    <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">Email Address</th>
                            <th scope="col">Action</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">1</th>
                            <td>lotushotmail111&#64;gmail.com</td>
                            <td><button class="btn btn-danger">Remove</button></td>
                          </tr>
                          <tr>
                            <th scope="row">2</th>
                            <td>anujkumar&#64;gmail.com</td>
                            <td><button class="btn btn-danger">Remove</button></td>
                          </tr>
                        </tbody>
                      </table>
                </div>
              </div>
            </div>
        </div>
    
    </div>
</section>

