<app-navbar></app-navbar>

<section class="my-5">
  <div class="container">
    <div class="row g-5">
      <div class="col-lg-5">
        <div class="row">
          <div class="col-lg-12">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">
                  Manage Workspace
                </li>
              </ol>
            </nav>

            <h2>Setup your organization</h2>
            <p>
              Create organization and invite people via email to work together.
            </p>

            <form #invitationForm="ngForm" (ngSubmit)="sendInvitation()">
              <div class="mb-3">
                <label for="name" class="form-label">Name</label>
                <input
                  type="text"
                  class="form-control"
                  id="name"
                  name="name"
                  placeholder="Name"
                  [(ngModel)]="name"
                  required
                />
              </div>
              <div class="mb-3">
                <label for="email" class="form-label">Email address</label>
                <input
                  type="email"
                  class="form-control"
                  id="email"
                  name="email"
                  placeholder="Email Address"
                  [(ngModel)]="emailAddress"
                  required
                />
              </div>
              <button
                type="submit"
                class="btn btn-primary"
                [disabled]="!invitationForm.valid"
              >
                Send Invitation
              </button>
            </form>
            <!-- Display feedback message -->
          </div>
        </div>
      </div>
      <div class="col-lg-7">
        <div class="card">
          <div class="card-body table-responsive">
            <h2>Organization Name : {{ organizationName }}</h2>
            <p>Below are the invited people to your organization</p>
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Name</th>
                  <th scope="col">Email Address</th>
                  <!-- <th scope="col">Action</th> -->
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let member of members; let i = index">
                  <th scope="row">{{ i + 1 }}</th>
                  <td>{{ member.name }} <span style="font-size: 12px;">({{member.createdAt | date:'mediumDate'}})</span></td>
                  <td>{{ member.email }}</td>
                  <!-- <td><button class="btn btn-danger" (click)="removeMember(member.userId)">Remove</button></td> -->
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</section>
